button{
  width:100px;
  height:40px;
  position: relative;
  left:40%;
  top:200px;
  box-shadow: -5px 8px 4px lightblue;
  background-color: cyan;
  border:0px;
  border-radius: 5px;
  outline:none;
  font-size: 14px;
}
button:hover{
  transform:scale(1.05);
}
input{
  position: relative;
  left:40%;
  top:205px;
  width:20px;
  height:20px;
}
.p1{
  position: relative;
  left:35%;
  top:205px;
  font-family: Calibri;
}
.p2{
  position: relative;
  left:30%;
  top:30px;
  font-family: 'Saira Condensed', sans-serif;
  text-shadow: -4px 4px 1px red;
  color:orange;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
}
.p2:hover{
  filter:grayscale(1.1);
}
